
.searchForm {
  margin:30px auto 10px auto;
  text-align:center;
  max-width:400px;
}

.searchFormInput{
  padding:5px;
  min-width:200px;
  min-height:18px;
  border:1px solid #bbb;
}

.searchFormSubmit{
  margin-left:5px;
  padding:5px;
  min-height:18px;
  color:#fff;
  background-color:#666;
  cursor:pointer;
}